*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	height: 100vh;
}

body {
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
}

.search {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 24px;
}

.search input[type="text"] {
	font-size: 2em;
	padding: 16px;
	border: solid 4px lightgray;
	border-radius: 8px;
	flex-grow: 1;
	max-width: 100%;
}

.search input[type="text"]:focus {
	outline: none;
	border-color: hotpink;
}

.search svg {
	position: absolute;
	top: 0;
	right: 0;
	width: 48px;
	height: 48px;
	margin: 40px;
	border: none;
	border-radius: 8px;
	background-color: transparent;
}

.search svg:hover {
	color: white;
	background-color: hotpink;
}

#output {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.intro {
	flex-grow: 1;
	align-content: center;
	text-align: center;
}

.results {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 0 16px;
}

.item {
	display: grid;
	grid-template-rows: auto 1fr auto;
	overflow: hidden;
	border: solid 4px transparent;
	border-radius: 16px;
	padding: 16px;
	min-width: 256px;
}

.item:hover {
	border-color: hotpink;
}

.emoji {
	font-size: 5.333em;
	justify-self: center;
}

.name,
.word {
	overflow: hidden;
	text-wrap: nowrap;
	text-align: center;
	align-self: end;
	justify-self: center;
}

.name {
	font-size: 1.2em;
	margin: 16px 0 8px 0;
}

.word {
	padding: 4px 6px;
	border-radius: 5px;
	--grade-color: grey;
	background: var(--grade-color);
	color: white;
}

.word[data-grade='100'] { --grade-color: #ff69b4; }
.word[data-grade='80'] { --grade-color: #f263ab; }
.word[data-grade='60'] { --grade-color: #bf4e86; }
.word[data-grade='40'] { --grade-color: #8c3962; }
.word[data-grade='20'] { --grade-color: #59243e; }

.clickable .item {
	cursor: pointer;
}

@keyframes itemFocus {
	from {
		background-color: hotpink;
	}

	to {
		background-color: white;
	}
}

.clickable .item:focus {
	outline: none;
	animation-name: itemFocus;
	animation-timing-function: cubic-bezier;
	animation-duration: 1s;
}

@media only screen and (max-width: 600px),
only screen and (orientation: landscape) and (max-height: 400px) {
	.item {
		min-width: 128px;
	}

	.emoji {
		font-size: 3.5em;
	}
}